html,
body {
  height: 100%;
}

body {
  color: #000;
  margin: 0;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}