.login-card {
  display: block;
  width: 50%;
  margin: 1rem auto;

  .title-card {
    margin-bottom: 1rem;
  }

  .login-form {
    width: 100%;

    .form-control {
      width: 100%;
    }

    .btn {
      width: 100%;
    }
  }
}
