@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/Montserrat-Regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/Montserrat-Regular.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("./fonts/Montserrat-Regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("./fonts/Montserrat-Regular.svg#svgFontName")
      format("svg"); /* Legacy iOS */
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");

body {
  margin: 0;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

img {
  display: block;
  width: 200px;
  margin: 0 auto;
}
