html,
body {
    height: 100%;
}

body {
    color: #000;
    margin: 0;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;

    &:focus {
        outline: none;
    }
}